

<p style="color:blue; font-size:40px; text-align: center;">Sentiment Analysis</p>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import warnings
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_csv("movie.csv")

In [3]:
data.head(5)

                                                text  label
0  I grew up (b. 1965) watching and loving the Th...      0
1  When I put this movie in my DVD player, and sa...      0
2  Why do people who do not know what a particula...      0
3  Even though I have great interest in Biblical ...      0
4  Im a die hard Dads Army fan and nothing will e...      1

In [4]:
df=data.sample(1000)

In [5]:
df

                                                    text  label
34500  This movie is another one on my List of Movies...      0
584    This movie serves as a timely warning to anyon...      0
21643  I've seen Mystery Men cop a bit of stick in th...      1
32806  ...........as I was when I saw this movie) I w...      1
14681  Whenever Ida Lupino appeared or directed a fil...      1
...                                                  ...    ...
37344  I am not sure why I like Dolph Lundgren. I gue...      0
10275  As a CA resident, I'd like to see the jackhole...      0
20532  Ever since 1981, Nintendo has been making grea...      1
3357   For me this movie is essentially like a featur...      0
30163  This is one of those horror flicks where twent...      0

[1000 rows x 2 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 34500 to 30163
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    1000 non-null   object
 1   label   1000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 23.4+ KB

In [7]:
df.rename({'text':'review','label':'sentiment'},inplace=True,axis=1)

In [8]:
df.columns

Index(['review', 'sentiment'], dtype='object')

In [9]:
df

                                                  review  sentiment
34500  This movie is another one on my List of Movies...          0
584    This movie serves as a timely warning to anyon...          0
21643  I've seen Mystery Men cop a bit of stick in th...          1
32806  ...........as I was when I saw this movie) I w...          1
14681  Whenever Ida Lupino appeared or directed a fil...          1
...                                                  ...        ...
37344  I am not sure why I like Dolph Lundgren. I gue...          0
10275  As a CA resident, I'd like to see the jackhole...          0
20532  Ever since 1981, Nintendo has been making grea...          1
3357   For me this movie is essentially like a featur...          0
30163  This is one of those horror flicks where twent...          0

[1000 rows x 2 columns]

In [10]:
df['review'].iloc[0]

"This movie is another one on my List of Movies Not To Bother With. Saw it 40 years ago as an adolescent, stayed up late to do so, was very annoyed to find that it was about 95% romance,4% everything else, 1% history if that. It's what I call a bait and switch movie, one with an interesting title, the actual movie is a scam. This is a subject which deserves a good cinematic treatment, this movie is almost an insult to those who served. The actual members of the Lafayette Escadrille were not on the run from the law nor were they the products of abusive homes, they were in reality idealists who wanted to do something to help France. And I suspect many of them came from a more upper class background than Tab Hunter's character. Flying school is not for the smart alecks and the know it alls, an individual such as the one portrayed here wouldn't have lasted two days, it would have either been the stockade or the infantry. Discipline in the French Army was often rather fierce. In short, another Hollywierd version of an historical episode that deserves proper treatment."

In [11]:
import re

In [12]:
def clean_html(x):
    clean=re.compile('<.*/\>')
    return re.sub(clean,'',x)

In [13]:
df['review']=df['review'].apply(clean_html)

In [14]:
df['review'].iloc[0]

"This movie is another one on my List of Movies Not To Bother With. Saw it 40 years ago as an adolescent, stayed up late to do so, was very annoyed to find that it was about 95% romance,4% everything else, 1% history if that. It's what I call a bait and switch movie, one with an interesting title, the actual movie is a scam. This is a subject which deserves a good cinematic treatment, this movie is almost an insult to those who served. The actual members of the Lafayette Escadrille were not on the run from the law nor were they the products of abusive homes, they were in reality idealists who wanted to do something to help France. And I suspect many of them came from a more upper class background than Tab Hunter's character. Flying school is not for the smart alecks and the know it alls, an individual such as the one portrayed here wouldn't have lasted two days, it would have either been the stockade or the infantry. Discipline in the French Army was often rather fierce. In short, another Hollywierd version of an historical episode that deserves proper treatment."

In [15]:
def convert_to_lower(x):
    return x.lower()

In [16]:
df['review']=df['review'].apply(convert_to_lower)

In [17]:
df['review'].iloc[0]

"this movie is another one on my list of movies not to bother with. saw it 40 years ago as an adolescent, stayed up late to do so, was very annoyed to find that it was about 95% romance,4% everything else, 1% history if that. it's what i call a bait and switch movie, one with an interesting title, the actual movie is a scam. this is a subject which deserves a good cinematic treatment, this movie is almost an insult to those who served. the actual members of the lafayette escadrille were not on the run from the law nor were they the products of abusive homes, they were in reality idealists who wanted to do something to help france. and i suspect many of them came from a more upper class background than tab hunter's character. flying school is not for the smart alecks and the know it alls, an individual such as the one portrayed here wouldn't have lasted two days, it would have either been the stockade or the infantry. discipline in the french army was often rather fierce. in short, another hollywierd version of an historical episode that deserves proper treatment."

In [18]:
def remove_special(text):
    x=''
    for i in text:
        if i.isalnum():
            x=x+i
        else:
            x=x+' '
    return x

In [19]:
df['review']=df['review'].apply(remove_special)

In [20]:
df['review'].iloc[0]

'this movie is another one on my list of movies not to bother with  saw it 40 years ago as an adolescent  stayed up late to do so  was very annoyed to find that it was about 95  romance 4  everything else  1  history if that  it s what i call a bait and switch movie  one with an interesting title  the actual movie is a scam  this is a subject which deserves a good cinematic treatment  this movie is almost an insult to those who served  the actual members of the lafayette escadrille were not on the run from the law nor were they the products of abusive homes  they were in reality idealists who wanted to do something to help france  and i suspect many of them came from a more upper class background than tab hunter s character  flying school is not for the smart alecks and the know it alls  an individual such as the one portrayed here wouldn t have lasted two days  it would have either been the stockade or the infantry  discipline in the french army was often rather fierce  in short  another hollywierd version of an historical episode that deserves proper treatment '

In [21]:
import nltk
nltk.download('stopwords')

[nltk_data] Error loading stopwords: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

False

In [22]:
from nltk.corpus import stopwords

In [23]:
a=stopwords.words('english')

In [24]:
a

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [25]:
def remove_stopwords(text):
    x=[]
    for i in text.split():
        if i not in a:
            x.append(i)
    y=x[:]
    x.clear()
    return y

In [26]:
df['review']=df['review'].apply(remove_stopwords)

In [27]:
df['review'].iloc[0]

['movie',
 'another',
 'one',
 'list',
 'movies',
 'bother',
 'saw',
 '40',
 'years',
 'ago',
 'adolescent',
 'stayed',
 'late',
 'annoyed',
 'find',
 '95',
 'romance',
 '4',
 'everything',
 'else',
 '1',
 'history',
 'call',
 'bait',
 'switch',
 'movie',
 'one',
 'interesting',
 'title',
 'actual',
 'movie',
 'scam',
 'subject',
 'deserves',
 'good',
 'cinematic',
 'treatment',
 'movie',
 'almost',
 'insult',
 'served',
 'actual',
 'members',
 'lafayette',
 'escadrille',
 'run',
 'law',
 'products',
 'abusive',
 'homes',
 'reality',
 'idealists',
 'wanted',
 'something',
 'help',
 'france',
 'suspect',
 'many',
 'came',
 'upper',
 'class',
 'background',
 'tab',
 'hunter',
 'character',
 'flying',
 'school',
 'smart',
 'alecks',
 'know',
 'alls',
 'individual',
 'one',
 'portrayed',
 'lasted',
 'two',
 'days',
 'would',
 'either',
 'stockade',
 'infantry',
 'discipline',
 'french',
 'army',
 'often',
 'rather',
 'fierce',
 'short',
 'another',
 'hollywierd',
 'version',
 'historical',
 'episode',
 'deserves',
 'proper',
 'treatment']

In [28]:
from nltk.stem.porter import PorterStemmer

In [29]:
ps=PorterStemmer()

In [30]:
def stem_words(text):
    y=[]
    for i in text:
        y.append(ps.stem(i))
    z=y[:]
    y.clear()
    return z

In [31]:
df['review']=df['review'].apply(stem_words)

In [32]:
df['review'].iloc[0]

['movi',
 'anoth',
 'one',
 'list',
 'movi',
 'bother',
 'saw',
 '40',
 'year',
 'ago',
 'adolesc',
 'stay',
 'late',
 'annoy',
 'find',
 '95',
 'romanc',
 '4',
 'everyth',
 'els',
 '1',
 'histori',
 'call',
 'bait',
 'switch',
 'movi',
 'one',
 'interest',
 'titl',
 'actual',
 'movi',
 'scam',
 'subject',
 'deserv',
 'good',
 'cinemat',
 'treatment',
 'movi',
 'almost',
 'insult',
 'serv',
 'actual',
 'member',
 'lafayett',
 'escadril',
 'run',
 'law',
 'product',
 'abus',
 'home',
 'realiti',
 'idealist',
 'want',
 'someth',
 'help',
 'franc',
 'suspect',
 'mani',
 'came',
 'upper',
 'class',
 'background',
 'tab',
 'hunter',
 'charact',
 'fli',
 'school',
 'smart',
 'aleck',
 'know',
 'all',
 'individu',
 'one',
 'portray',
 'last',
 'two',
 'day',
 'would',
 'either',
 'stockad',
 'infantri',
 'disciplin',
 'french',
 'armi',
 'often',
 'rather',
 'fierc',
 'short',
 'anoth',
 'hollywierd',
 'version',
 'histor',
 'episod',
 'deserv',
 'proper',
 'treatment']

In [33]:
def join_back(list_input):
    return ' '.join(list_input)

In [34]:
df['review']=df['review'].apply(join_back)

In [35]:
df['review'].iloc[0]

'movi anoth one list movi bother saw 40 year ago adolesc stay late annoy find 95 romanc 4 everyth els 1 histori call bait switch movi one interest titl actual movi scam subject deserv good cinemat treatment movi almost insult serv actual member lafayett escadril run law product abus home realiti idealist want someth help franc suspect mani came upper class background tab hunter charact fli school smart aleck know all individu one portray last two day would either stockad infantri disciplin french armi often rather fierc short anoth hollywierd version histor episod deserv proper treatment'

In [36]:
x=df.drop('sentiment',axis=1)

In [37]:
x

                                                  review
34500  movi anoth one list movi bother saw 40 year ag...
584    movi serv time warn anyon think write direct m...
21643  seen mysteri men cop bit stick press gener pub...
32806  saw movi never watch movi bad movi scare much ...
14681  whenev ida lupino appear direct film 30 40 50 ...
...                                                  ...
37344  sure like dolph lundgren guess see screen make...
10275  ca resid like see jackhol shut electr plant ra...
20532  ever sinc 1981 nintendo make great video game ...
3357   movi essenti like featur length pilot episod t...
30163  one horror flick twenti someth fool around dar...

[1000 rows x 1 columns]

In [38]:
y=df[['sentiment']]

In [39]:
y

       sentiment
34500          0
584            0
21643          1
32806          1
14681          1
...          ...
37344          0
10275          0
20532          1
3357           0
30163          0

[1000 rows x 1 columns]

In [40]:
from sklearn.feature_extraction.text import CountVectorizer

In [41]:
cv=CountVectorizer()

In [42]:
cv.fit_transform(df['review'])

<1000x9700 sparse matrix of type '<class 'numpy.int64'>'
	with 59450 stored elements in Compressed Sparse Row format>

In [43]:
pd.options.display.max_rows=10

In [44]:
X=cv.fit_transform(df['review']).toarray()

In [45]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,...,9690,9691,9692,9693,9694,9695,9696,9697,9698,9699
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
d={}
for i in df['review'].iloc[253].split(' '):
    d[i]=df['review'].iloc[253].split(' ').count(i)

In [47]:
d

{'20': 1,
 'year': 1,
 'ago': 1,
 'dr': 3,
 'chopper': 4,
 'ye': 1,
 'drive': 1,
 'well': 2,
 'chop': 1,
 'peopl': 2,
 'disappear': 2,
 'polic': 1,
 'found': 2,
 'dead': 2,
 'bodi': 5,
 'clinic': 1,
 'sinc': 1,
 'around': 1,
 'lake': 2,
 'tanoka': 2,
 'someth': 2,
 'part': 3,
 'place': 1,
 'turn': 1,
 'need': 1,
 'stay': 1,
 'aliv': 1,
 'take': 1,
 'stranger': 1,
 'like': 1,
 'pair': 1,
 'lesbian': 1,
 '5': 1,
 'soror': 1,
 'girl': 2,
 'initi': 1,
 'get': 1,
 'pictur': 1,
 'travel': 1,
 'bunch': 1,
 'teenag': 1,
 'decid': 1,
 'go': 1,
 'camp': 1,
 'bound': 1,
 'clash': 1,
 'doctor': 1,
 'wanna': 1,
 'wast': 1,
 'time': 3,
 'right': 1,
 'choic': 1,
 'act': 1,
 'vari': 1,
 'realli': 2,
 'bad': 1,
 'mediocr': 1,
 'trip': 1,
 'fall': 1,
 'appar': 1,
 'reason': 1,
 'everi': 2,
 'chanc': 1,
 'show': 2,
 'skin': 1,
 'taken': 1,
 'without': 1,
 'actual': 1,
 'anyth': 1,
 'goe': 1,
 'special': 1,
 'effect': 1,
 'pretti': 2,
 'pathet': 1,
 'slash': 2,
 'film': 1,
 'angl': 1,
 'cant': 1,
 'see': 1,
 'lot': 1,
 'movi': 1,
 'drench': 1,
 'blood': 1,
 'probabl': 1,
 'cover': 1,
 'sad': 2,
 'look': 1,
 'plot': 1,
 'faulti': 1,
 'dialog': 1,
 'rather': 1,
 'laugh': 1,
 'said': 1,
 'howdi': 1,
 'tri': 1,
 'scari': 1,
 'watch': 2,
 'one': 1,
 'hack': 1,
 'n': 1,
 'freak': 1,
 'even': 1,
 'would': 1,
 'recommend': 1,
 'better': 1}

In [48]:
from sklearn.model_selection import train_test_split

In [49]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [50]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB

In [51]:
from sklearn.metrics import accuracy_score

In [52]:
nb1=GaussianNB()
nb2=MultinomialNB()
nb3=BernoulliNB()

In [53]:
def Algo(model):
    model.fit(X_train,y_train)
    y_pred=model.predict(X_test)
    print(accuracy_score(y_test,y_pred))

In [54]:
Algo(nb1)

0.635

In [55]:
Algo(nb2)

0.84

In [56]:
Algo(nb3)

0.795